body {
    color: rgb(61, 59, 190);
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 80px;
}

header {
    border-bottom: solid 2px rgb(53, 47, 161);
    padding: 15px;
    font-size: 37px;
    color: rgb(60, 71, 224)
}

.chamada {
    background: rgb(169, 206, 248);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 22px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.categoria-videos img {
  opacity: 0,3;
  height: 230px;
}

.categoria-videos img:hover {
  opacity: 1.0;
  border: 2px solid rgb(27, 180, 180);
}

.categoria h2 {
    color: rgb(82, 146, 230);
}